<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/bootstrapheader :: bootstrap"></th:block>
</head>
<body>
<th:block th:replace="fragments/bootstrapheader :: jquery"></th:block>
<div th:replace="fragments/navbar :: navbar"></div>
    <div class="row">
    <th:block th:each="image: ${imageList}">
        <div class="col-md-3">
            <br/>
            <br/>
            <i class = "size150 pe-7s-user"></i><a class = "size150" th:href = "@{'/userimages/' +${image.user.id}}" size = "14" th:text = "${image.user.name}"></a>
            <br/>
            <i class = "size150 pe-7s-like" size = "13" th:text = "${image.likesCount()}"></i>
            <i class = "tabsmall size150 pe-7s-comment" size = "13" th:text = "${image.commentCount()}"></i>
            <br/>
            <a th:href="@{'/view/' + ${image.id}}" th:utext="${image.imgsrc}"></a>
            <br/>
        </div>
    </th:block>
    </div>
</body>
</html>