<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>

    <th:block th:replace="fragments/bootstrapheader :: bootstrap"></th:block>

    <title>Home</title>
</head>
<body>
<div th:replace="fragments/bootstrapheader :: jquery"></div>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="jumbotron">
    <h1 th:text="${message}"></h1>
    <p>...</p>
    <p></p>
</div>
</body>
</html>